{% extends 'app_blog/base.html' %}
{% block topo %}
<div class="header clearfix  col-md-6 offset-md-3">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/perfil">Entrar</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Micro</h3>
</div>
{% endblock %}
{% block conteudo %}
  <div class="container">
    <h1> Faça seu login</h1>
    <form action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="detalhe"><button type="submit" class="btn btn-primary">login</button></a>

    </form>
  </div>
{% endblock %}