{% extends 'app_blog/base.html' %}

{% block topo %}
<div class="header clearfix  col-md-6 offset-md-3">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/publica">Publicar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sair</a>
      </li>
    </ul>
  </nav>
  {% if user.is_authenticated %}
  <h3 class="text-muted">Olá, {{ user.username }}!</h3>
  {% endif %}
</div>
{% endblock %}

{% block publicando %}
<div class="header clearfix">
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Publicar">
    </form>
  </div>
  </div>
{% endblock %}

{% block conteudo %}
  <div class="container">
    <ul class="timeline">
      {% for publicacao in publicacoes %}

				<li>

  					<a href="#">@{{ publicacao.autor }}</a>
  					<a class="float-right">{{ publicacao.data }}</a>
  					<p>{{ publicacao.texto }}</p><br>

                    <a href="/pub/{{ publicacao.id }}"><button type="submit" class="btn btn-primary">Detalhe</button></a>

				</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}