{% extends 'app_blog/base.html' %}

{% block topo %}
<div class="header clearfix  col-md-6 offset-md-3">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/publica">Publicar</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="#">Seguir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sair</a>
      </li>
    </ul>
  </nav>
  {% if user.is_authenticated %}
      <h3 class="text-muted">Olá, {{ user.username }}!</h3>
      {% else %}
      <h3 class="text-muted" > Olá, visitante!</h3>
  {% endif %}

</div>
{% endblock %}

{% block conteudo %}
  <div class="container">
    <ul class="timeline">

      <h3 class="text-muted"> {{ pessoa.nome }}</h3><br>

      {% for publicacao in publicacoes %}
  					<a href="#">@{{ publicacao.autor }}</a>
  					<a class="float-right">{{ publicacao.data }}</a>
  					<p>{{ publicacao.texto }}</p><br>


                    <a href="/pub/{{ publicacao.id }}"><button type="submit" class="btn btn-primary">Detalhe</button></a>

				</li><br><br>

      {% endfor %}
    </ul>
  </div>
{% endblock %}