{% extends 'app_blog/base.html' %}

{% block topo %}
<div class="header clearfix  col-md-6 offset-md-3">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="/publica">Publicar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sair</a>
      </li>
    </ul>
  </nav>
   <h3 class="text-muted"> O que deseja publicar, {{ user.username }}?</h3>
</div>
{% endblock %}

{% block conteudo %}
<div class="container mt-5 mb-5">
    	<div class="row">
    		<div class="col-md-6 offset-md-3">
         {% if user.is_authenticated %}
          <form method="post">
          {% csrf_token %}

                 {{ form }}
              <br>
                 <button type="submit" class="btn btn-primary">Publicar</button>
          {% endif %}
          </form>
    		</div>
    	</div>
    </div>

{% endblock %}